@import url(https://fonts.googleapis.com/css?family=Oxygen:400,700);

body{

	font-family: "Oxygen";
	background-color: papayawhip;
}

#show-container{
	/*text-align: center;*/
}

#show-info{
	padding-top: 30px;
}

.inline{
	display: inline;
}

.input_field{
	width: 5%;
	text-align: center;
}

.move_list{
	width: 30%;
}

#landing{
	background-color: #5D5E60;
	color: #6A9B9B;
}

/*.filter{
	text-align: center;
}*/