@import url(https://fonts.googleapis.com/css?family=Oxygen:400,700);


#site { overflow-x: hidden; }
body{

	font-family: "Oxygen";
	background-color: #016C91

	
}

#show-container{
	/*text-align: center;*/
}

#show-info{
	margin-top: 20px;
	border-style: solid;
	background-color: #E9E9ED;
	margin-left: 5px;	
	border-radius: 25px;
	padding: 10px;
}

.inline{
	display: inline;
}

.input_field{
	width: 5%;
	text-align: center;
}

.move_list{
	width: 200px;
}

img{
	padding-left: 15px;
	padding-right: -5px;
}

#landing{
background-color: #5D5E60;
color: #6A9B9B;
margin: 0;
margin-bottom: 20px;
border: 0;
padding:0;
width:100%;
display: block

}

#header{
	padding: 5px;
}

#logo{
	margin-bottom: 10px;
	font-size: 38
}

.delete-button{
	animation: background-color 0.5s ease;
}

.delete-button:hover{

	color:red;
}

#show-title{
	padding-left: 20px
}

.white-text{
	color: white;
}

/*.filter{
	text-align: center;
}*/