@import url(https://fonts.googleapis.com/css?family=Oxygen:400,700);


#site { overflow-x: hidden; }
body{

	font-family: "Oxygen";
	background-color: #999;
	color: #333;

	
}

#new-order {
	color: #fff;
}

button {
	background-color: #016C91;
	color: #fff;
	padding: 15px;
	transition: all .3s ease;
}

button:hover {
	background-color: #00AABC;
}

.delete-button:hover {
	background-color: #BF1526;
	color: #fff;
}

a:hover {
	opacity: .75;
}

#show-container{
	/*text-align: center;*/
}

#show-info{
	margin-top: 20px;
	border: 1px solid #333;
	background-color: #f6f6f6;
	margin-left: 5px;	
	border-radius: 5px;
	padding: 10px;
}

.inline{
	display: inline;
}

.input_field{
	width: 5%;
	text-align: center;
}

.move_list{
	width: 200px;
}

img{
	padding-left: 15px;
	padding-right: -5px;
}

#landing{
	background-color: #016C91;
	margin: 0;
	border: 0;
	padding:0;
	display: block;
	max-width: 100rem;

}

#header{
	padding: 15px;
}

#logo{
	margin: 10px 0;
	font-size: 1.5em;
	color: #fff;
}

#signout, #signup, #signin {
	margin: 10px 0;
	font-size: .75em;
	color: #fff;
	transition: all .3s ease;
}
 
.delete-button{
	animation: background-color 0.5s ease;
}


#show-title{
	padding-left: 20px
}

.white-text{
	color: white;
}

/*.filter{
	text-align: center;
}*/